body                { font-family: serif; font-weight: 500; }

h2                  { margin: 0em;}

a                   { text-decoration: none;}
a:visited           { color: #5959ff;}
a:hover             { color: #0000ff;}

#nav                { float: left; width: 17em; }
#main               { margin-left: 17em; border: thin #CCCCCC solid; padding: 1em; }


.feedback input, textarea, button { width: 90%; border: thin solid #33FF33; }
.announce input, textarea, button { width: 90%; border: thin solid #33FF33; }
input.homepage { width: 90%; font-size: 2.5em; border: thin solid #33FF33;}

table { border-collapse: collapse; }
td { padding: 0.1em 0.5em; }
table td { border-left: 1px solid silver; border-right: 1px solid silver }

#nav form, ul { border-left: thick solid #FF9999; margin: 0.2em; padding: 0.1em; }
ul { list-style: none; padding-left: 0.7em;}

td.yes, td.no, td.undecided { text-align: center; }
td.no { background-color: #FF9999 }
td.yes { background-color: #CCFF99 }

p.tip { width: 18em; min-height: 2em; margin: 1em 2em; padding: 1em 1.4em; border: solid medium; text-align: center; float: right; }
p.tip :link, p.tip :visited { color: black; text-decoration: none; }
p.tip em { font-size: 2em; font-style: normal; display: block; text-decoration: underline; }
p.tip span { white-space: nowrap; }
p.tip span :link, p.tip span :visited { text-decoration: underline; }

p.tip { color: black; background: #FFFF99; border-color: #FFFF00; }

form, .footer { text-align: center; }

input:focus, textarea:focus, button:focus {
                border: medium solid #33FF33;
            }

            input[type=button], input[type=submit] {
                cursor: pointer;
                background-color: #dfe;
            }

        button {
                cursor: pointer;
                background-color:  #CCFF99;
            }

img.screenshot { border: solid #CCCCCC thin;}
